{% extends 'base_site.html' %}
{% load static %}

{% block content %}
    <div class="row">
        {% if latest_question_list %}
            {% for question in latest_question_list %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title d-flex justify-content-between align-items-center">
                                <span>{{ question.question_text }}</span>
                                <a href="{% url 'polls:detail' question.id %}" class="stretched-link"><i
                                        class="bi bi-chevron-double-right"></i></a>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-sm-6 mx-auto">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            No polls are available.
                        </h5>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
